# the region you want to run in, try running 'vagrant digitalocean-list regions $DIGITAL_OCEAN_TOKEN' (same token as below)
digital_ocean_region: 'nyc2'

# DO lets you associate a name with the token and never lets you see the token twice, so
# could be a good idea to add a comment here with the DO name too, like, e.g.:
# DOname: 'honeycomb-ci'
digital_ocean_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# For testing the rig, rather than the builds themselves, it is cheapest to
# set this to 512mb, but each alfresco VM needs 4gb to build
digital_ocean_size: 4gb

# probably 2gb I think but 512mb during testing the rig
digital_ocean_size_testvm: 2gb
